.App {
  text-align: center;
  font-family: "Bangers";
}

#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

@font-face {
  font-family: "Bangers";
  src: url(/public/fonts/v_BlambotCasual_v1.0.ttf);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
